# True for development, False for production
DEBUG=False

SECRET_KEY=8z%a6(1rk*pnlf=jsj$hyj8psnrxt9$jn2tb1btq(93_to%4xp

DOMAIN=admin.smartkits-eg.com
ALLOWED_HOSTS=localhost,127.0.0.1,107.174.249.53
CSRF_TRUSTED_ORIGINS = http://localhost:8000,http://localhost:5085,http://127.0.0.1:8000,http://127.0.0.1:5085,http://107.174.249.53

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306